PORT=9999
NODE_ENV=development

DB_CONNECTION_STRING=mongodb://localhost:27017/db-name
MONGO_TTL_DAYS=30

MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=

LOGGER_MORGAN_FORMAT_ADD_REMOTE=false
LOG_LEVEL=http
