PORT=9999
NODE_ENV="development"

DB_CONNECTION_STRING="mongodb://localhost:27017/database-name"
MONGO_TTL_DAYS=30
DB_USERNAME="db-usernamer"
DB_PASSWORD="db-password"

MQTT_BROKER_URL="mqtts://localhost:8883"
MQTT_USERNAME="mqtt-username"
MQTT_PASSWORD="mqtt-password"
MQTT_TOPIC="topic/name00"

LOGGER_MORGAN_FORMAT_ADD_REMOTE=false
LOG_LEVEL=http
